= form_for @stock do |f|
  - if @stock.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stock.errors.count, "error")} prohibited this stock from being saved:"
      %ul
        - @stock.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :product_name
    = f.text_field :product_name, class: 'form-control'
  .field
    = f.label :modal_number
    = f.text_field :modal_number, class: 'form-control'
  .field
    = f.label :quantity
    = f.number_field :quantity, class: 'form-control'
  .field
    = f.label :minimum_stock
    = f.number_field :minimum_stock, class: 'form-control'
  .field
    = f.label :purchase_price
    = f.number_field :purchase_price, class: 'form-control'
  .field
    = f.label :sale_price
    = f.number_field :sale_price, class: 'form-control'
  .actions
    = f.submit 'Save'
