%h1 Listing stocks
.row
  .col-md-3
    %ul
      %li= link_to 'Low Stock', low_stock_stocks_path
      %li= link_to 'Load Multiple Stock', new_stock_collection_path
  .col-md-9
    .float-right
      = link_to 'New Stock', new_stock_path, class: 'btn btn-primary'
    %h3 List by model:
    - @models.each do |mod|
      = link_to mod, stocks_path(model_no: mod), class: "btn btn-sm #{'btn-primary' if params[:model_no] == mod}"
    %table.table.table-bordered.table-stripped.datatable
      %thead
        %tr
          %th Product name
          %th Modal number
          %th Quantity
          %th Pieces
          %th Minimum Quantity
          %th MRP
          %th Sale price
          %th
          %th
      
      %tbody
        - @stocks.each do |stock|
          %tr
            %td= link_to stock.product_name, stock
            %td= stock.modal_number
            %td= stock.quantity
            %td= stock.pieces
            %td= stock.minimum_stock
            %td= stock.mrp
            %td= stock.sale_price
            %td
              = link_to edit_stock_path(stock), class: 'btn btn-primary btn-sm' do
                %i.glyphicon.glyphicon-pencil
            %td= link_to 'X', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

