%h1 Low stocks
.row
  .col-md-3
    %ul
      %li= link_to 'All Stock', stocks_path
      %li= link_to 'Load Multiple Stock', new_stock_collection_path
  .col-md-9
    .float-right
      = link_to 'New Stock', new_stock_path, class: 'btn btn-primary'
    %table.table.table-bordered.table-stripped.datatable
      %thead
        %tr
          %th Product name
          %th Modal number
          %th Quantity
          %th Minimum Quantity
          %th Purchase price
          %th Sale price
          %th
          %th
      
      %tbody
        - @stocks.each do |stock|
          %tr
            %td= link_to stock.product_name, stock
            %td= stock.modal_number
            %td= stock.quantity
            %td= stock.minimum_stock
            %td= stock.purchase_price
            %td= stock.sale_price
            %td
              = link_to edit_stock_path(stock), class: 'btn btn-primary btn-sm' do
                %i.glyphicon.glyphicon-pencil
            %td= link_to 'X', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

