%h1 Customers

.float-right
  = link_to 'New Customer', new_customer_path, class: 'btn btn-primary'
%br
%br

%table.table.table-bordered.datatable
  %thead
    %tr
      %th Name
      %th Address
      %th Phone no
      %th
      %th
  %tbody
    - @customers.each do |customer|
      %tr
        %td= link_to customer.name, customer
        %td= customer.address
        %td= customer.phone_no
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }

